<h2>My Beers</h2>
<div class="beers">

  <div class="card"
    *ngFor="let beer of beers"
    [class.selected]="beer === selectedBeer"
    (click)="onSelect(beer)">
    <!-- <img src="..." alt="Avatar" style="width:100%"> -->
    <div class="container">
      <h4><b class="badge">{{beer.type}}</b></h4>
      <p>{{beer.brand}}</p>
    </div>
  </div>

</div>

<div *ngIf="selectedBeer">

  <h2>{{selectedBeer.type | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedBeer.id}}</div>
  <div>
    <label>type:
      <input [(ngModel)]="selectedBeer.type" placeholder="type"/>
    </label>
    <br>
    <label>brand:
      <input [(ngModel)]="selectedBeer.brand" placeholder="brand"/>
    </label>
  </div>

</div>
