.beers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0px;
  width: 16em;
  display: flex;
}

.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#28be62;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2em;
  margin-right: .8em;
  border-radius: 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 15px 0 0;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #fff;
  background-color: #14702b;
}

.card.selected {
  background-color: #14702b;
  color: #fff;
}

.container {
  padding: 2px 16px;
}
