<h2>My Beers</h2>
<ul class="beers">
  <li 
    *ngFor="let beer of beers"
    [class.selected]="beer === selectedBeer"
    (click)="onSelect(beer)">
    <span class="badge">{{beer.id}}</span> {{beer.type}} | {{beer.brand}}
  </li>
</ul>

<div *ngIf="selectedBeer">

  <h2>{{selectedBeer.type | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedBeer.id}}</div>
  <div>
    <label>type:
      <input [(ngModel)]="selectedBeer.type" placeholder="type"/>
    </label>
    <br>
    <label>brand:
      <input [(ngModel)]="selectedBeer.brand" placeholder="brand"/>
    </label>
  </div>

</div>